<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>

<div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>

</div >
<button (click)="topFunction()" id="myBtn" title="Go to top">Top</button> 
  
      <!-- Sub Footer Starts Here -->
      <div class="sub-footer" style="background-color: black">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
                <p>Copyright &copy; 2019 The Complain App 
                  
                  - Renting site: <a rel="nofollow" href="https://www.facebook.com/">Facebook</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Sub Footer Ends Here -->
